# Ignore everything
*
!.gitignore
# Allow directory traversal
!*/

# Include these folders and everything inside
!foot/**
!hypr/**
!nvim/**
!pypr/**
!swaync/**
!wall/**
!wofi/**
!eww/**
!startup
!setwall
!quickshell/**
